body {
  font-family: Georgia;
  background-color: #E8E9EB;
  color: #444444;
  font-size: 16px;
}

body .main-container {
  max-width: 960px;
}

.title {
  font-family: 'Brandon Grotesque Black';
}

.author {
  font-family: 'Brandon Grotesque Light';
}