body {
  font-family: Georgia;
  background-color: #FFFFFF;
  color: #444444;
  font-size: 16px;
}

body .main-container {
  max-width: 960px;
}

.title {
  font-family: 'Quick';
}

.author {
  font-family: 'Consolas';
}