body {
    background-color: #edf3f7;
    font-family: Quick;
}

.btn-primary {
    border: 0px solid black;
    margin-top: 10px;
    margin-left: 0px;
    background-color: #FC4445;
}

.btn-primary:hover {
    background-color: #0F7173;
}

.btn-secondary {
    border: 0px solid black;
    margin-top: 10px;
    margin-left: 0px;
    background-color: #0F7173;
}

.btn-secondary:hover {
    background-color: #FC4445;
}

.menubar {
    margin: 0 auto;
}

.domain {
    color: #777777;
}

#parent {
    display: flex;
    height: 100%;
}

#narrow {
    flex: 1;
}

#wide {
    display:flex;
    width: 55%;
    flex: 1;
}

#upper {
    height: 50%;
    display: flex;
}

#lower {
    height:50%;
    display:flex;
    flex: 1;
}

#calculator {
    font-family: Quick;
    width: 838px;
    padding: 6px;
    margin: 10px 20px 10px 50px;
    font-size: 1em;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid #aaaaaa;
}

#bar-NaN {
    fill-opacity: 0.0;
}

/*=============================================================================
Button Parking Lot
=============================================================================*/


/*=============================================================================
Choropleth
=============================================================================*/
.counties {
    fill: none;
    stroke: #edf3f7;
    stroke-width: .1px;
}

.counties > path:hover {
    stroke: #F9DC5c;
    stroke-width: 2px;
}

.states {
    fill: none;
    stroke: #edf3f7;
    stroke-width: 0.5;
    stroke-linejoin: round;
}

.d3-tip {
    font-family: "Quick";
    line-height: 1.0;
    font-size: 14px;
    padding: 8px;
    background: rgba(0, 0, 0, 0.8);
    color: #edf3f7;
    border-radius: 4px;
    text-align: center;
}

.overmap {
    position: relative;
    margin-left: 350px;
    margin-top: 50px;
    width: 400px;
    height: 200px;
}

.underneath {
    margin-top: -220px;
}

#choropleth {
    display: flex
}

/**============================================================================
Histogram
============================================================================**/
.bar:hover {
    fill: #F9DC5c;
}
  
  .axis--x path {
    display: none;
  }

text {
    fill: #777777;
    font-family: "Quick";
}

.tick {
    font-size: 14px;
    fill: #777777;
    color: #777777;
}

.selected {
    opacity: .9;
    fill-opacity: .9;
    stroke-opacity: .9;
}

.inactiveCounty {
   fill-opacity: 0.7; 
}

.activeCounty {
    fill-opacity: 0.9;
}

.hoverLine {
    stroke: #F9DC5c !important;
    stroke-width: 5px;
    stroke-opacity: 1.0 !important;
    opacity: 1.0 !important;
    fill: none;
    fill-opacity: 0.0;
}

/**============================================================================
Line Plot
============================================================================**/
.line {
    fill: none;
}

.source {
    font-size:12px;
    fill: #777777;
}

@font-face {
    font-family: "Quick";
    src: url(Quick.ttf);
}

/**============================================================================
Instructions 
(Source: https://stackoverflow.com/questions/12610409/tooltip-with-a-triangle)
============================================================================**/
.instruction {
    position: relative;
}

.instruction span {
    margin-top: 20px;
    display: none;
    position: absolute;
    width: 200px;
    padding: 5px;
    z-index: 200;
    background: rgba(0, 0, 0, .6);
    border: 0px solid rgba(0, 0, 0, 0.6);
    color: #edf3f7;
    -moz-border-radius: 5px;
    /* this works only in camino/firefox */
    -webkit-border-radius: 5px;
    /* this is just for Safari */
}

.instruction span:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgba(0, 0, 0, 0.6);
    left: 8px;
    top: -7px;
}

.instruction span {
    display: block;
}