body {
    background-color: #faffff;
}

#parent {
    display: flex;
    height: 100%;
}

#narrow {
    width: 35%;
    background: lightblue;
}

#wide {
    display: flex;
    flex: 1;
    background: #faffff;
}

#upper {
    height: 50%;
    background: black;
}

#lower {
    flex: 1;
}

/*=============================================================================
Choropleth
=============================================================================*/
.counties {
    fill: none;
    stroke: #444444;
    stroke-width: 0.1;
}

.states {
    fill: none;
    stroke: #faffff;
    stroke-width: 0.5;
    stroke-linejoin: round;
}

.d3-tip {
    font-family: "Quick";
    line-height: 1.0;
    font-size: 14px;
    padding: 8px;
    background: rgba(0, 0, 0, 0.8);
    color: #cfcfcf;
    border-radius: 4px;
    text-align: center;
}

#choropleth {
    display: flex
}

/**============================================================================
Histogram
============================================================================**/
.bar {
    fill: steelblue;
  }
  
  .bar:hover {
    fill: brown;
  }
  
  .axis--x path {
    display: none;
  }
  

@font-face {
    font-family: "Quick";
    src: url(Quick.ttf);
}