body {
  background-color: #edf3f7;
  font-family: Quick;
  color: #777777;
}

p {
  font-family: "Open Sans";
  font-size: 17px;
}

h1 {
  font-size: 28px;
}

h1 span {
  font-family: Consolas;
  font-weight: 100;
}

.title {
  color: #777777;
  display: block;
  text-align: center;
  margin: 20px auto;
}

#year-label {
  font-size: 40px;
}

.city-label {
  fill: #edf3f7 !important;
}

.title-text {
  font-weight: bold;
  font-size: 16px;
}

.btn-primary {
  border: 0px solid black;
  margin-top: 10px;
  margin-left: 0px;
  background-color: #fc4445;
}

.btn-primary:hover {
  background-color: #0f7173;
}

.btn-secondary {
  border: 0px solid black;
  margin-top: 10px;
  margin-left: 0px;
  background-color: #0f7173;
}

.overmap .btn-secondary {
  font-size: 13px;
}

.barHover {
  fill-opacity: 1;
  fill: #f9dc5c;
}

.btn-secondary:hover {
  background-color: #fc4445;
}

.menubar {
  margin: 0 auto;
}

.domain {
  color: #777777;
}

#parent {
  display: flex;
  height: 100%;
}

#narrow {
  flex: 1;
}

#wide {
  display: flex;
  width: 55%;
  flex: 1;
}

#upper {
  height: 50%;
  display: flex;
}

#lower {
  height: 50%;
  display: flex;
  flex: 1;
}

.typeahead {
  font-family: Quick;
  width: 725px;
  padding: 6px;
  margin: 10px 20px 10px 0px;
  font-size: 1em;
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid #aaaaaa;
}

#bar-NaN {
  fill-opacity: 0;
}

/*=============================================================================
Button Parking Lot
=============================================================================*/

/*=============================================================================
Choropleth
=============================================================================*/
.counties {
  fill: none;
  stroke: #edf3f7;
  stroke-width: 0.1px;
}

.counties > path:hover {
  stroke: #f9dc5c;
  stroke-width: 2px;
}

.countiesHovered {
  stroke: #f9dc5c;
  stroke-width: 2px;
}

.states {
  fill: none;
  stroke: #edf3f7;
  stroke-width: 0.5;
  stroke-linejoin: round;
}

.d3-tip {
  font-family: "Quick";
  line-height: 1;
  font-size: 14px;
  padding: 8px;
  background: rgba(0, 0, 0, 0.8);
  color: #edf3f7;
  border-radius: 4px;
  text-align: center;
}

.overmap {
  position: relative;
  margin-left: 350px;
  margin-top: 50px;
  width: 400px;
  height: 200px;
}

.underneath {
  margin-top: -220px;
}

#choropleth {
  display: flex;
}

/**============================================================================
Histogram
============================================================================**/
.bar:hover {
  fill: #f9dc5c;
}

.axis--x path {
  display: none;
}
.robotic {
  font-family: Consolas;
}

.tick text {
  font-family: Consolas;
}

text {
  fill: #777777;
  font-family: "Quick";
}

.tick {
  font-size: 14px;
  fill: #777777;
  color: #777777;
}

.selected {
  opacity: 0.9;
  fill-opacity: 0.9;
  stroke-opacity: 0.9;
}

.inactiveCounty {
  fill-opacity: 0.7;
}

.activeLine {
  stroke-width: 5px;
  stroke-opacity: 1 !important;
  opacity: 1 !important;
}

.inactiveLine {
  stroke-opacity: 0;
  stroke-width: 0px;
}

.activeCounty {
  fill-opacity: 0.9;
}

.hoverLine {
  stroke: #f9dc5c !important;
  stroke-width: 5px;
  stroke-opacity: 1 !important;
  opacity: 1 !important;
  fill: none;
}

/**============================================================================
Line Plot
============================================================================**/
.line {
  fill: none;
}

.source {
  font-size: 14px;
  fill: #777777;
}

.summary {
  font-size: 16px;
  line-height: 1em;
  fill: #777777;
}

@font-face {
  font-family: "Quick";
  src: url(Quick.ttf);
}

/**============================================================================
Instructions 
(Source: https://stackoverflow.com/questions/12610409/tooltip-with-a-triangle)
============================================================================**/
.instruction {
  position: relative;
}

.instruction span {
  font-size: 14px;
  margin-top: 20px;
  display: none;
  position: absolute;
  width: 200px;
  padding: 5px;
  z-index: 200;
  background: rgba(0, 0, 0, 1);
  border: 0px solid rgba(0, 0, 0, 1);
  color: #edf3f7;
  -moz-border-radius: 5px;
  /* this works only in camino/firefox */
  -webkit-border-radius: 5px;
  /* this is just for Safari */
}

.instruction span:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid rgba(0, 0, 0, 1);
  left: 8px;
  top: -7px;
}

.instruction span {
  display: block;
}

#footer {
  padding: 20px;
  background-color: #0f7173;
  color: #edf3f7;
}

#footer a {
  font-family: "Open Sans";
  color: #0b132b;
}
