html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    font-family: Quick, sans-serif !important;
    font-weight: 400;
    font-size: 16pt;
    color: #444;
}

text {
    font-family: Consolas, sans-serif;
}

#maincontent {
    padding-top: 65px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333;
}

h1 {
    font: 400 30px/1.3em Quick, sans-serif;
    margin: 0 0 .5em;
}

h2 {
    font: 400 24px/1.3em Quick, sans-serif;
    margin: 0 0 .5em;
}

h3 {
    font: 400 20px/1.3em Quick, sans-serif;
    margin: 0 0 .5em;
}

h4 {
    font: 600 16px/1.3em Quick, sans-serif;
    margin: 0 0 .5em;
}

h5 {
    font: 700 14px/1.3em Quick, sans-serif;
    margin: 0 0 .5em;
    text-transform: uppercase;
}

h6 {}

p,
ul,
li {
    font: 400 16px/24px Quick, sans-serif;
    margin: 0 0 .5em;
    color: #666;
}

p.tooltip_text {
    font: 400 16px/24px Consolas, sans-serif;
    margin: 0 0 .5em;
    color: #666;
}

hr {
    width: 150px;
    display: inline-block;
    border: 3px solid #1696d2 !important;
    margin-top: 55px !important;
    margin-bottom: 55px !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #1696d2;
    text-decoration: none;
}

a:hover {
    color: #1696d2;
}

li {
    list-style: square;
}

hr {
    width: 100%;
    display: inline-block;
    border: 0 !important;
    height: 0 !important;
    border-bottom: 1px solid #ccc !important;
    border-bottom-color: #ccc !important;
    color: #ccc !important;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
    display: block;
}

#chart svg {
  display: block;
  margin: 0 auto;
}

.section {
  padding: 1em 0;
}

.header {
  background: linear-gradient(to bottom, #337ab7 0%, #135a97 100%);
  color: white;
  padding: 1em 0 2em;
}

.circ { 
    fill: #FC4445;
    fill-opacity: 0.5;
    stroke: #FC4445;
    stroke-width: 1;
    stroke-opacity: 1.0;
    stroke-linecap: round;
}

.line {
	stroke: black;
	stroke-width: 3;
	fill: none;
    opacity: 0.7;
    stroke-linecap: round;
}

.smallLine {
    stroke: black;
    stroke-width: 2;
    fill: none;
    opacity: 0.7;
    stroke-linecap: round;
}

.annotation {
    font: Quick;
    font-size: 20px;
    fill: #FC4445;
}

div.tooltip {   
    position: absolute;         
    text-align: center; 
    vertical-align: middle;        
    padding: 5px;               
    background: white; 
    border: 0px;        
    border-radius: 6px;         
    pointer-events: none;           
}


